* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}

body {
    background-color: #e7e7e7;
}

.navbar {
    display: flex;
    padding: 10px;
    background-color: #e1e1e1;
}

.navbar-item {
    margin: 10px;
    background-color: #68ab81;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

.category {
    display: flex;
    justify-content: space-between;
    background-color: #e1e1e1;
    padding: 10px;
    color: #4d4d4d;
    align-items: center;
    border-radius: 10px;
}

.book {
    padding: 10px;
}

.book-title {
    color: #68ab81;
}

.edit-option {
    color: #68ab81;
    font-size: 14px;
}

.delete-option {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #be5353;
    color: white;
    border: none;
    cursor: pointer;
}

.save-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #68ab81;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-menu {
    display: flex;
}

.edit-menu input{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color: #F4F4F4;
}

.edit-menu textarea {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color: #F4F4F4;
}

.edit-menu select{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color: #F4F4F4;
    color: #919191;
}

.edit-menu button {
    height: 35px;
}

.book-info {
    color: #4d4d4d;;
}

.book-info p {
    margin: 10px;
}

